html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Captain', sans-serif;
    text-align: center;
    /*background-color: #121212;*/ /* Dark gray background */
    padding: 10px;
    width: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background: 
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Adjust the RGBA values to control the transparency */
                url('grappar.JPG') no-repeat center center/cover;
    background-attachment: fixed;
}
button {
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #00A6ED, #0090C0); /* Gradient background */
    color: #fff;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}
#countdown {
    font-size: 100px; /* Larger font size */
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    color:#fff
}

#end-date {
    font-size: 32px; /* Larger font size */
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    color:#fff
}

#more-info {
    font-size: 32px; /* Larger font size */
    margin-bottom: 20px;
    margin-top: 20px;
    color:#fff; 
    font-weight: bold;
}
#long-text-section{
    font-size: 20px;
    margin-bottom: 20px;
    color:#fff;
}

@keyframes flyIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

#randomGifDisplay {
    display: none; 
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position fixed to keep it in the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally to center */
    padding: 10px;}

/* Media query for smaller screens */
@media (max-width: 768px) {
    /* Adjust countdown margin for smaller screens */
    #countdown {
        margin-top: 20px;
    }

    /* Adjust font size for end date and place info for smaller screens */
    #end-date,
    #countdown,
    #place-info {
        font-size: 24px;
    }

    #more-info {
        font-size: 16px;
    }
}
