body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Captain', sans-serif;
    text-align: center;
    background-color: #121212; /* Dark gray background */
    padding: 50px;
}

#countdown {
    font-size: 72px; /* Larger font size */
    margin-top: 50px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); /* Soft shadow effect */
    background-image: linear-gradient(135deg, #00A6ED, #0090C0); /* Gradient background */
    -webkit-background-clip: text; /* Clip text to the background */
    -webkit-text-fill-color: transparent; /* Make text transparent */
}
